.landingDiv {
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 50vw;
  margin: auto;
  padding: 20px;
}

.downloadlinks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
