/**
	backgroundColor: '#faf5e4',
	color: '#004445',
	accentedColor: '#f8b400',
	errorColor: '#dd3322'
	**/

body {
	margin: 0;
	font-family: 'Dosis', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	background-color: #faf5e4;
	color: #004445;
}

a {
	text-decoration: none;
	color: #004445;
}

a:hover {
	color: #f8b400;
}
